<p>
  home works!
</p>
<div>
  <ul>
    <li>
      <a [routerLink]="['/']">host</a>
    </li>
    <li>
      <a [routerLink]="['/users']">users</a>
    </li>
    <li>
      <a [routerLink]="['/users', 'samsung']">samsung users</a>
    </li>
    <li>
      <a [routerLink]="['/users', 'testuser']">testuser users</a>
    </li>
    <li>
      <a [routerLink]="['/users', 'samsung', 'play']">samsung play users</a>
    </li>
    <li>
      <a [routerLink]="['/users', 'testuser', 'singsong']">testuser singsong users</a>
    </li>
  </ul>
</div>
